# Global settings
# Energy price per kWh (in EUR)
ENERGY_PRICE=0.2008

# Inverter settings
INVERTER_IP="<Inverter IP>"

# InfluxDB connection variables
INFLUXDB_URL = "http://<IP/HOSTNAME>:8086"
INFLUXDB_TOKEN = "<InfluxDB User Token>"
INFLUXDB_ORG = "<InfluxDB Org>"
INFLUXDB_BUCKET = "<InfluxDB Bucket>"
